server {
  listen ${NGINX_PORT};
  server_name ${WEB_HOST};

  location ~ /badge/ {
    proxy_pass https://${API_HOST};
    proxy_set_header Host ${API_HOST};
  }
  location = /bye {
    rewrite ^ /;
  }
  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }
}
