html, body {
  margin: 0;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
#main {
  width: 100vw;
}

.header {
  display: flex;
  height: 55vh;
  justify-content: center;
  color: #fff;
  background: #1d304e;
  text-shadow: 1px 1px 3px black;
}
.header .logo {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 25px;
  font-family: Baskerville, "Baskerville Win95BT", "Times New Roman", Times, serif;
  font-size: 350%;
  font-weight: bold;
}
.content {
  height: 45vh;
  text-align: center;
}
.buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
}
.button {
  display: inline-block;
  border: 2px solid #6d809e;
  border-radius: 4px;
  color: #6d809e;
  padding: 15px 30px;
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 90%;
}
.button:hover {
  background: #6d809e;
  color: #1d304e;
}

@media only screen and (max-width : 750px) {
  body {
    font-size: 20px;
  }
  .header {
    height: 45vh;
  }
  .header .logo {
    font-size: 300%;
  }
  .buttons {
    position: relative;
    padding-top: 15px;
  }
  .button:hover, .button:active {
    border: 1px solid #1d304e;
    background: #1d304e;
    color: #fff;
  }
}
